


.Button {
    border-radius: 60px;
    background: linear-gradient(45deg, #95d4fd, #7db2d4);


    border: none;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    
    margin: 1rem;
    width: 80px;
    height: 80px;

    
}

.Button:hover {
    background-color: #9599E2;
    background-image: linear-gradient(180deg, #9599E2 0%, #8BC6EC 100%);
}

.Teclado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}